<li class="li-room">
  &nbsp;&nbsp;&nbsp;
  <span class="label label-default">{{roomID}}</span>&nbsp;&nbsp;
  <span data-toggle="tooltip" data-placement="right" title="{{roomName}}"><b>{{ roomName | resizeName:15 }}</b></span>&nbsp;&nbsp;
  <span class="label" ng-class="roomMode == 1 ? 'label-success': 'label-primary'">{{ roomMode == 1 ? 'Đơn' : 'Đôi' }}</span>&nbsp;&nbsp;
  <span data-toggle="tooltip" data-placement="right" title="{{owner}}" class="label label-warning">#{{owner | resizeName:18}}</span>
  <!-- <span>{{totalUser}}</span> -->
</li>
