<li class="li-room">
  &nbsp;&nbsp;&nbsp;
  <span>{{ roomId }}</span>&nbsp;&nbsp;
  <span><b>{{ roomName }}</b></span>&nbsp;&nbsp;
  <span class="label" ng-class="roomMode == 1 ? 'label-success': 'label-primary'">{{ roomMode == 1 ? 'Đơn' : 'Đôi' }}</span>&nbsp;&nbsp;
  <span>của {{owner}}</span>
  <!-- <span>{{totalUser}}</span> -->
</li>
