<div class="container">
  <div class="col-md-8">
    <input type="button" value="Chọn 1"></input>
    <input type="button" value="Chọn 2"></input>
    <input type="button" value="Chọn 3"></input>
    <p>{{result}}</p>
  </div>
  <div class="col-md-4">
  </div>
</div>
