<div class="container chat-room">
  <div class="col-md-8 chat">
    <!-- <div class="col-md-4 user-online">
      <ul class="list-unstyled" id="user-online">
        <user-online ng-repeat="user in userList" user-name="{{user.userName}}" img-url="{{user.imgUrl}}"></user-online>
      </ul>
    </div> -->
    <div class="col-md-1 features">

    </div>
    <div class="col-md-3 user-online" >
      <div class="col-md-12 user-online-header text-center">
        <img class="online-dot" src="http://www.clker.com/cliparts/M/b/y/w/a/e/green-circle-hi.png" width="8" height="8">
        <span class="text-center"><b>ĐANG ONLINE (38)</b></span>
      </div>
      <div class="scrollbar col-md-12 scroll-content" id="style-1">
        <ul class="list-unstyled" id="user-online">
          <user-online ng-repeat="user in userList" user-name="{{user.userName}}" img-url="{{user.imgUrl}}"></user-online>
        </ul>
      </div>
    </div>
    <div class="col-md-8 chat-area">
        <div id="chat-content" class="col-md-12">
          <div class="scrollbar2 col-md-12 scroll-content" id="style-3">
            <message ng-repeat="message in messageList track by $index" is-left-side="message.isLeftSide" sender="{{ message.sender }}" content="{{ message.content | emoticons:'YahooEmoticons' }}" img-url="{{ message.imgUrl }}"></message>
          </div>
        </div>
        <div id="chat-textbox" class="col-md-12">
          <div class="col-md-10 textbox">
            <input class="message-textbox" ng-enter enter-handler="sendMessage()"  ng-model="messageContent" type="text" placeholder="Nhập nội dung tin nhắn">
          </div>
          <div class="col-md-2 text-center">
            <!-- <input type="button" class="btn btn-info" value="GỬI"> -->
            <button type="button" ng-click="sendMessage()" class="btn btn-info btn-circle send"><i class="glyphicon glyphicon-send"></i></button>
          </div>
        </div>
    </div>
  </div>
  <div class="col-md-4 room-list">
    <div class="col-md-12 room-available-header text-center">
      <img class="online-dot" src="http://www.clker.com/cliparts/M/b/y/w/a/e/green-circle-hi.png" width="8" height="8">
      <span class="text-center"><b>DANH SÁCH PHÒNG</b></span>
    </div>
    <div class="scrollbar1 col-md-12 scroll-content" id="style-2">
      <ul class="list-unstyled" id="available-room">
        <available-room ng-repeat="room in roomList track by $index" room-id="{{$index + 1}}" room-name="{{room.roomName}}" room-mode="{{room.roomMode}}" owner="{{room.owner}}" total-user="{{room.totalUser}}"></available-room>
      </ul>
    </div>
  </div>
</div>
