<div class="container chat-room">
  <div class="col-md-6 room-list">
    <ul>
      <li>Phòng 1</li>
      <li>Phòng 2</li>
      <li>Phòng 3</li>
      <li>Phòng 4</li>
    </ul>
  </div>
  <div class="col-md-6">
    <div>
        <div id="chat-content" class="col-md-12">
        </div>
        <div id="chat-textbox" class="col-md-12">
          <div class="col-md-9">
            <input type="text" placeholder="Nhập nội dung tin nhắn">
          </div>
          <div class="col-md-3">
            <input type="button" class="btn btn-info" value="GỬI">
          </div>
        </div>
    </div>
  </div>
</div>
