<div class="container chat-room">
  <div class="col-md-8 chat">
    <div class="col-md-4 user-online">
      <ul class="list-unstyled" id="user-online">
        <user-online ng-repeat="user in userList" user-name="{{user.userName}}" img-url="{{user.imgUrl}}"></user-online>
      </ul>
    </div>
    <div class="col-md-8 chat-area">
        <div id="chat-content" class="col-md-12">
        </div>
        <div id="chat-textbox" class="col-md-12">
          <div class="col-md-9">
            <input type="text" placeholder="Nhập nội dung tin nhắn">
          </div>
          <div class="col-md-3">
            <input type="button" class="btn btn-info" value="GỬI">
          </div>
        </div>
    </div>
  </div>
  <div class="col-md-4 room-list">
    <ul>
      <li>Phòng 1</li>
      <li>Phòng 2</li>
      <li>Phòng 3</li>
      <li>Phòng 4</li>
    </ul>
  </div>
</div>
