<div class="jumbotron text-center">
    <h1>Chào mừng bạn đến với <b>Oẳn tù tì</b> Online.</h1>
    <p>Oẳn tù tì là một trò chơi dân gian đơn giản, nay được hiện thực trên nền tảng web, cùng với các công nghệ hỗ trợ hiện đại, Oẳn tù tì Online sẽ mang lại cho bạn một trải nghiệm mới lạ.</p>
    <br/><br/><br/>
    <!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true"></div> -->
    <fb:login-button scope="public_profile,email" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true" onlogin="checkLoginState();"></fb:login-button>
</div>
