<div ng-if="positionLeft" class="position-left"><img class="sender img-circle" src="{{ imgUrl }}" title="{{ senderName }}" width="30" height="30"><span class="each-message">{{ messageContent }}</span></div><div class="clearfix"></div>
<div ng-if="positionRight" class="position-right"><span class="each-message">{{ messageContent }}</span> <img class="sender img-circle" src="{{ imgUrl }}" title="{{ senderName }}" width="30" height="30"> </div><div class="clearfix"></div>
