<li class="li-user">
  <img class="img-circle user-avatar" src="{{imgUrl}}" alt="avatar" width="30" height="30"></img>
  &nbsp;&nbsp;&nbsp;<span class="user-name"><b>{{ userName | length }}</b></span>
</li>
