<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oẳn tù tì</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default" ng-controller="accountController">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Oẳn tù tì</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <form class="navbar-form navbar-right">
          <input ng-if="isLoggedin" type="button" class="btn btn-default" value="Đăng xuất">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:void(0)"><b>{{ userName }}</b></a></li>
          <li ng-if="isLoggedin"><a href="javascript:void(0)"><img src="{{imgUrl}}" width="25" height="25" alt="avatar"/></a></li>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <script src="resources/js/javascript.js"></script>
    <div ng-view></div>
  </body>
</html>
