<div id="viewport" ng-controller="MainController">
    <div id="backdrop-doc" ng-show="isShowHideCreateCustomer" ng-click="closeCreateCustomerPopOver()"></div>
    <div id="notification" ng-show="isShow">
        <div class="close-button"></div>
        <div id="profile-img">
            <img ng-src="{{temp}}" width="30" height="30">
        </div>
        <div id="content">
            Bạn đã đăng nhập <b>SUNO POS</b> bằng tài khoản <b>{{userSession.displayName}}.</b>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="createCustomerPopOver" ng-show="isShowHideCreateCustomer">
        <div class="header">
            <span>Tạo mới khách hàng</span>
            <span class="close-button" ng-click="closeCreateCustomerPopOver()"></span>
        </div>
        <div class="content">
            <div class="group-control">
                <div class="title">Tên khách hàng</div>
                <input class="input" type="text" placeholder="Nhập tên khách hàng...">
            </div>
            <div class="group-control">
                <div class="title">Mã khách hàng</div>
                <input class="input" type="text" placeholder="Nhập mã khách hàng (tự động sinh nếu để trống)...">
            </div>
            <div class="group-control">
                <div class="title">Số điện thoại</div>
                <input class="input" type="text" placeholder="Nhập số điện thoại của khách hàng ( ví dụ: )...">
            </div>
            <div class="group-control">
                <div class="title">Email</div>
                <input class="input" type="text" placeholder="Nhập email (ví dụ: kh01@gmail.com)...">
            </div>
            <div class="group-control">
                <div class="title">Địa chỉ</div>
                <input class="input" type="text" placeholder="Nhập địa chỉ của khách hàng...">
            </div>
            <div class="group-control">
                <div class="title">Ghi chú</div>
                <input class="input" type="text" placeholder="Nhập ghi chú của khách hàng...">
            </div>
            <div class="group-control">
                <div class="title">Ngày sinh</div>
                <input class="input" type="date" placeholder="Nhập ngày sinh của khách hàng...">
            </div>
            <div class="group-control">
                <div class="title">Giới tính</div>
                <span class="radio-group">
                    <input class="radio-btn" name="gender" checked="" type="radio"><span>Nam</span>
                </span> &nbsp;
                <span class="radio-group">
                    <input class="radio-btn" name="gender" type="radio"><span>Nữ</span>
                </span>
            </div>
        </div>
        <div class="footer">
            <a href="#">Tạo</a>
        </div>
    </div>

    <div id="deliveryPopOver" ng-show="isShow">
        <div class="header">
            <p>Thông tin giao hàng</p>
            <span class="close-button" ng-click="closeCreateCustomerPopOver()"></span>
        </div>
        <div class="content">
            <div class="group-control">
                <div class="title">Nhập phí vận chuyển</div>
                <input class="input" type="text" placeholder="Nhập phí vận chuyển (Có thể để trống)" ng-model="saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.SubFee">
            </div>
            <div class="group-control">
                <div class="title">Chọn đơn vị vận chuyển</div>
                <autocomplete id="customer-autocomplete" attr-id="suggestShipper" attr-inputid="txtSuggestShipper" ng-model="shipper" template-id="SuggestProductTemplate" attr-placeholder="Tìm đơn vị vận chuyển (Có thể để trống)" on-select="pickProduct" on-type="getShipperSearch" on-focus="focusInput" data="searchList.items"></autocomplete>
            </div>
            <div class="group-control">
                <div class="title">Ghi chú khi giao hàng</div>
                <textarea class="input" rows="4" cols="50" maxlength="1000" placeholder="Nhập thông tin ghi chú (Có thể để trống)" ng-model="saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.shipper.comment"></textarea>
            </div>
        </div>
        <div class="footer">
            <a href="#">Đóng</a>
        </div>
    </div>
    <div id="orderDetailPopOver" ng-show="isShow">
        <div class="header">
            <p>Thông tin thêm về đơn hàng</p>
            <span class="close-button" ng-click="closeCreateCustomerPopOver()"></span>
        </div>
        <div class="content">
            <div class="group-control">
                <div class="title">Người tạo phiếu</div>
                <input class="input" type="text" disabled="true" value="{{userSession.displayName}}">
            </div>
            <div class="group-control">
                <div class="title">Mã phiếu</div>
                <input class="input" type="text" disabled="true" value="Hệ thống sẽ tạo tự động." ng-model="saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.Code">
            </div>
            <div class="group-control">
                <div class="title">Ngày tạo phiếu</div>
                <input type="datetime-local">
            </div>
            <div class="group-control">
                <div class="title">Ghi chú cho đơn hàng</div>
                <textarea class="input" rows="4" cols="50" maxlength="1000" placeholder="Nhập thông tin ghi chú (Có thể để trống)" ng-model="saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.Comment">
                {{saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.Comment}}
                </textarea>
            </div>
        </div>
        <div class="footer">
            <a href="#">Đóng</a>
        </div>
    </div>

    <div class="paid-popover" ng-show="isShow">
        <div class="popover-content">
            <div class="popover-title">
                <span ng-show="addCustomer">Thanh toán</span>
                <span ng-show="!addCustomer">Thêm khách hàng</span>
                <span class="close-button"></span>
            </div>
            <div class="separator"></div>
            <div class="popover-body">
                <div ng-show="addCustomer">
                    <span class="create-customer"></span>
                    <autocomplete id="customer-autocomplete" attr-id="suggestCustomer" attr-inputid="txtSuggestCustomer" ng-model="customerSearchKey" template-id="SuggestProductTemplate" attr-placeholder="Tìm khách hàng" on-select="pickProduct" on-type="getCustomerSearchResult" on-focus="focusInput" data="searchList.items"></autocomplete>
                    <p class="label">Hình thức thanh toán</p>
                    <input type="radio" class="radio-btn" checked name="paymentMethod"><span class="radio-label" ng-model="saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.PaymentMethod">Tiền mặt</span>
                    <br/>
                    <input type="radio" class="radio-btn" name="paymentMethod"><span class="radio-label" ng-model="saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.PaymentMethod">Thẻ</span>
                    <br/>
                    <input type="radio" class="radio-btn" name="paymentMethod"><span class="radio-label" ng-model="saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.PaymentMethod">Chuyển khoản</span>
                    <br/>
                    <p class="label">Tiền khách đã trả</p>
                    <input type="text" class="received-money" placeholder="Tiền khách trả" ng-model="saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.AmountPaid">
                    <p class="label">Còn nợ hoặc tiền thừa</p>
                    <p class="remain-value">100.000</p>
                </div>
                <div ng-show="!addCustomer">
                    <table>
                        <tr>
                            <td><span class="label">Họ tên</span></td>
                            <td><input class="input" type="text" placeholder="Nhập tên KH"></td>
                        </tr>
                        <tr>
                            <td><span class="label">Mã KH</span></td>
                            <td><input class="input" type="text" placeholder="Mã tự sinh nếu ko nhập"></td>
                        </tr>
                        <tr>
                            <td><span class="label">Địa Chỉ</span></td>
                            <td><input class="input" type="text" placeholder="Nhập địa chỉ KH"></td>
                        </tr>
                        <tr>
                            <td><span class="label">SĐT</span></td>
                            <td><input class="input" type="text" placeholder="Nhập sđt KH"></td>
                        </tr>
                        <tr>
                            <td><span class="label">Ng. Sinh</span></td>
                            <td><input class="input" type="date" placeholder="Nhập ngày sinh KH"></td>
                        </tr>
                        <tr>
                            <td><span class="label">G. Tính</span></td>
                            <td>
                                <input type="radio" class="radio-btn" name="gender" checked><span class="radio-label">Nam</span>
                                <input type="radio" name="gender"><span class="radio-label">Nữ</span>
                            </td>
                        </tr>
                    </table>
                    <div class="validation-msg">Chưa nhập tên KH</div>
                </div>
            </div>
            <div class="separator" ng-show="!addCustomer"></div>
            <div class="footer" ng-show="!addCustomer">
                <a class="cancel" href="#">Hủy</a>
                <a class="create" href="#">Tạo</a>
            </div>
            <div class="triangle"></div>
        </div>
    </div>
    <button ng-if="!isOpening" id="tao-don-hang" ng-click="openPanel()"><i class="fa fa-desktop"></i> SUNO POS</button>
    <div class="pos-panel" style="position: fixed;">
        <div id="backdrop" ng-show="isOpenDiscountPopOver || isOpenConfigPopOver" ng-click="hideBackdrop()"></div>

        <div class="pos-header">
            <span id="collapse-btn" title="Ẩn SUNO POS" ng-click="closePanel()">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span id="username" ng-if="userSession" style="cursor: pointer;" ng-click="showHideUserContextMenu()">{{userSession.displayName}}
            </span>
            <span class="context-menu" ng-if="userSession" ng-class="isShowContextMenu ? 'active' : ''" ng-click="showHideUserContextMenu()" id="menu">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>

        <div class="pos-body">
            <!-- Bảng thông báo -->
            <div class="notification-panel {{nClass}}" ng-if="nActived">
                <div class="n-header">
                    {{n.header}}
                </div>
                <div class="n-body">
                    {{n.body}}
                </div>
            </div>
            <!-- Bắt đầu màn hình POS -->
            <!-- Màn hình Login -->
            <div ng-if="!userSession">
                <div class="form-control">
                    <h3 class="margin-bottom-10">Đăng nhập</h3>
                    <p>Tài khoản SUNO</p>
                    <div>
                        <input type="text" name="username" ng-model="username" autocomplete="off">
                    </div>
                    <p>Mật khẩu</p>
                    <div class="margin-bottom-10">
                        <input type="password" name="password" ng-model='password' autocomplete="off">
                    </div>
                    <div>
                        <button class="btn btn-login" ng-click="login(username,password)">Đăng nhập</button>
                    </div>
                </div>
            </div>

            <!-- Màn hình POS -->
            <div ng-if="userSession">
                <autocomplete attr-id="suggestProduct" attr-inputid="txtSuggestProduct" ng-model="searchKey" template-id="SuggestProductTemplate" attr-placeholder="Tìm kiếm hàng hóa" on-select="pickProduct" on-type="get_search_rs" on-focus="focusInput" data="searchList.items"></autocomplete>
                <script type="text/x-angular-template" id="SuggestProductTemplate">
                    <li suggestion ng-repeat="item in suggestions track by $index" index="{{ $index }}" val="{{item}}" ng-class="{ active: ($index === selectedIndex) }" ng-click="select(item)" style="cursor:pointer;">
                        <table class="width-100">
                            <tbody>
                                <tr>
                                    <td rowspan="2"><img width="31" height="31" style="border: 1px solid #e2e2e2" ng-src="{{item.img}}"></td>
                                    <td class="text-left">
                                        <b>{{item.itemName | charLimit:27}}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right nowrap" style="padding-left: 3px;">
                                        Giá: <b>{{item.retailPrice}}</b> | Số lượng: <b>{{item.qtyAvailable}}</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </script>
                <div id="pos-orders" ng-if="selectedOrder.saleOrder.orderDetails.length > 0">
                <div id="detail-title">CHI TIẾT ĐƠN HÀNG</div>
                    <ul class="mCustomScrollbar" data-mcs-axis="y">
                        <li ng-repeat="item in saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.Details" class="items-in-orderList" ng-mouseleave="itemLeave($event)" ng-mouseover="itemHover($event)">
                            <div class="item-name">
                                <a ng-href="https://pos.suno.vn/Manage/#/product/detail/{{item.productId}}" target="_blank" title="{{item.itemName}}">{{item.itemName | charLimit:33}}</a>
                            </div>
                            <div>
                                <span class="color-1">Đơn giá: {{item.retailPrice | number}}
                                    <span class="discount-value">(giảm 200)</span>
                                </span>
                                &nbsp;
                                <span class="img-gift" id="id_{{item.itemId}}" ng-click="showHideDiscountPopOver(item)" title="Giảm giá sản phẩm"><img width="14" height="14" src="https://emojipedia-us.s3.amazonaws.com/thumbs/120/facebook/111/wrapped-present_1f381.png" /></span>
                            </div>
                            <div>
                                <span class="color-1">Số lượng: <input class="item-quantity" type="number" min="1" max="999" ng-model="item.quantity" ng-change="quantityChange(item)"> </span>
                            </div>
                            <div>
                                <span class="color-1" data-title="Title" data-content="Content..." data-placement="right">Thành tiền: <b class="sum">{{(item.quantity * item.sellPrice) | number:0}}</b></span>&nbsp;&nbsp;
                            </div>
                            <div class="remove-button" ng-click="removeItem(item)"></div>
                        </li>
                    </ul>
                </div>
                <div id="user-menu" ng-show="isShowContextMenu">
                    <div class="triangle"></div>
                    <div class="popover-content">
                        <ul>
                            <li class="checked item">Quản lí</li>
                            <li class="seperator2"></li>
                            <li class="checked item">Đăng xuất</li>
                        </ul>
                    </div>
                </div>
                <div class="discount-popover" id="popover2" ng-show="isOpenDiscountPopOver">
                    <div class="triangle"></div>
                    <div class="popover-content">
                        <div class="popover-title">
                            <span>Giảm giá</span>
                        </div>
                        <div class="separator"></div>
                        <div class="popover-body">
                            <table>
                                <tr>
                                    <td>
                                        <span class="label">Giá mới</span>
                                    </td>
                                    <td>
                                        <input class="input" type="text">
                                    </td>
                                    <td class="td3">
                                        <span ng-show="isDiscountByPercent" class="percent-sign">%</span>
                                        <span ng-show="!isDiscountByPercent" class="currency-sign">VNĐ</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label">Giảm giá</span>
                                    </td>
                                    <td>
                                        <input class="input" type="text">
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" ng-model="isDiscountByPercent">
                                            <span class="slider"></span>
                                        </label>
                                    </td>
                                </tr>
                            </table>

                            <span class="group-control">
                                &nbsp;
                                <input type="button" class="button" value="5%">
                                <input type="button" class="button" value="10%">
                                <input type="button" class="button" value="15%">
                            </span>
                        </div>
                        <div class="remove-btn" ng-click="closeDiscountPopOver()"></div>
                    </div>
                </div>

                <div class="discount-popover" id="popover1" ng-show="isOpenDiscountOrderPopOver">
                    <div class="triangle"></div>
                    <div class="popover-content">
                        <div class="popover-title">
                            <span>Giảm giá</span>
                        </div>
                        <div class="separator"></div>
                        <div class="popover-body">
                            <table>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="td3">
                                        <span ng-show="isDiscountByPercent" class="percent-sign">%</span>
                                        <span ng-show="!isDiscountByPercent" class="currency-sign">VNĐ</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label">Giảm giá</span>
                                    </td>
                                    <td>
                                        <input class="input" type="text">
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" ng-model="isDiscountByPercent">
                                            <span class="slider"></span>
                                        </label>
                                    </td>
                                </tr>
                            </table>

                            <span class="group-control">
                                &nbsp;
                                <input type="button" class="button" value="5%">
                                <input type="button" class="button" value="10%">
                                <input type="button" class="button" value="15%">
                            </span>
                        </div>
                        <div class="remove-btn" ng-click="showHideDiscountOrder()"></div>
                    </div>
                </div>

                <div id="create-order">
                    <div id="left">
                        <p id="title">TỔNG CỘNG</p>
                        <p id="total">{{saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.Total | number}}</p>
                    </div>
                    <div id="right">
                        <a id="create-button" href="#" ng-click="confirmOrder()">
                            Tạo đơn hàng
                        </a>
                    </div>
                </div>

                <div id="pay">
                    <table>
                        <tr>
                            <td class="title">
                                <span>Tiền hàng:</span>
                            </td>
                            <td>
                                {{saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.SubTotal | number}}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                <span>Giảm giá:</span>
                            </td>
                            <td id="img-gift-relative">
                                {{saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.Discount | number}}
                                <span data-ng-show="saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.IsDiscountPercent == true">{{saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.DiscountInPercent }} % </span>
                                <span id="discount-order" ng-click="showHideDiscountOrder()" title="Giảm giá đơn hàng"><img width="14" height="14" src="https://emojipedia-us.s3.amazonaws.com/thumbs/120/facebook/111/wrapped-present_1f381.png" /></span>
                            </td>
                        </tr>
                    </table>
                    <div class="separator2"></div>
                    <table>
                        <tr>
                            <td class="title">
                                <span title="Phí vận chuyển">Phí VC:</span>
                            </td>
                            <td>
                                {{saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.SubFee | number}}
                            </td>
                        </tr>
                    </table>
                    <div class="separator2"></div>
                    <table>
                        <tr>
                            <td class="title">
                                <span>Thanh toán:</span>
                            </td>
                            <td>
                                {{saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.AmountPaid | number}}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                <span>Khách đưa:</span>
                            </td>
                            <td>
                                100.000
                            </td>

                        </tr>
                        <tr>
                            <td class="title">
                                <span ng-show="moreAmountPaid <= 0">Còn nợ:</span>
                                <span ng-show="moreAmountPaid > 0">Tiền thừa</span>
                            </td>
                            <td>
                                {{saleOrder.Items[saleOrder.SelectedOrderIndex].SaleOrder.PaymentBalance | number:0}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="toolbar">
                    <span class="note icon1"></span>
                    <span class="discount icon2"></span>
                    <span class="delivery icon3"></span>
                    <span class="paid icon4"></span>
                    <span class="toolbar-icon icon5" ng-click="showHideConfig()"></span> 
                </div>
                <div id="config-popover" ng-show="isOpenConfigPopOver">
                    <div class="popover-content">
                        <ul>
                            <li class="checked item">Vận chuyển</li>
                            <li class="seperator2"></li>
                            <li class="checked item">Thanh toán</li>
                            <li class="seperator2"></li>
                            <li class="item" ng-click="showHideCreateCustomer()">Thêm khách hàng</li>
                            <li class="seperator2"></li>
                            <li class="item">Thêm ghi chú</li>
                            <li class="seperator2"></li>
                            <li class="item">Ghi chú giao hàng</li>
                        </ul>
                    </div>
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
