@import url(https://fonts.googleapis.com/css?family=Cabin:400,400italic,500,600,700,700italic&subset=vietnamese);
body{
  font-family: Tahoma;
  /*background: url('http://pre10.deviantart.net/1719/th/pre/i/2012/324/2/0/green_prince_by_c_91-d5lm68k.png');*/
  background: url('http://www.1366x768.net/large/201112/3382.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/*font-family: 'Montserrat', sans-serif;*/

.chat-room{
  min-height: 550px;
}

.room-list{
  border: 1px solid black;
  min-height: 550px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 255, 255, 1);
}

.chat{
  min-height: 550px;
  padding-left: 0px;
}

.chat-area{
  background-color: rgba(255, 255, 255, 0.65);
  height: 550px;
  padding-right: 0px;
  padding-left: 0px;
  border-left: 1px solid white;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.user-online{
  height: 550px;
  padding: 0px;
}

#chat-content{
  min-height: 500px;
}

#chat-textbox{
  border-top: 1px solid black;
  background-color: rgba(255, 255, 255, 1);
  min-height: 43px;
  line-height: 43px;
  border-bottom-right-radius: 12px;
}

ul#user-online li{
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  color: white;
}

ul#user-online li:hover{
  color: black;
}

.user-name{
  font-size: 12px;
}

.user-avatar{
  border: 2px solid #ffffff;
  margin-left: 10px;
  margin-top: -2px;
}

.li-user{
  line-height: 50px;
}

.li-user:hover{
  background-color: rgba(255, 255, 255, 1);
}

.features{
  min-height: 550px;
  background-color: rgba(0, 0, 0, 0.95);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.user-online-header{
  background-color: rgba(0, 0, 0, 0.8);
  height: 40px;
  border-bottom: 1px solid white;
  line-height: 40px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.online-dot{
  margin-top: -2px;
  margin-right: 5px;
}

.scroll-content{
  padding-left: 0px;
  padding-right: 0px;
}


/*-----CSS SCROLLBAR-----*/
.scrollbar
{
	margin-left: 0px;
	float: left;
	height: 510px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	overflow-y: scroll;
	margin-bottom: 25px;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.75);;
}

#style-1::-webkit-scrollbar
{
	width: 5px;
	background-color: #141414;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(255, 255, 255, 0.95);;
}
