#tao-don-hang{
	position: fixed;
    right: 10px;
    top: 8px;
    z-index: 999999;
    height: 27px;
    padding: 0 10px 1px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 2px;
    
    color: #fff;
    background-color: #3b5998;
    /*border-color: #;*/
}

#tao-don-hang:hover{
	background: rgba(0, 0, 0, .1);
    color: #fff;
}

.pos-panel{
    width: 240px;
    display: none;
    height: 100%;
    background: #e9ebee;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999;
    border-left: 1px solid #d0d1d5;
    transition: 0.7s;
}

.close{
    border: none;
    background: none;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.close:hover{
    border-bottom: 2px solid #d0d1d5; 
}

.form-control{
    padding: 20px;
}

.form-control input{
    background-color: #fff;
    border: 1px solid #d0d1d5;
    border-radius: 3px;
    box-sizing: border-box;
    height: 26px;
    width: 100%;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 48px;
    position: relative;
    margin-bottom: 10px;
}

.form-control .btn-login{
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 4px 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    background-color: #f6f7f9;
    border-color: #ced0d4;
    color: #4b4f56;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

.btn-login:hover{
    background-color: #e9ebee;
}

.btn-login:active{
    box-shadow: none;
    transform: scale(.98);
}

.form-control p{
    margin: 0;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

input:focus,.btn-login:focus {outline:0;}

.notification-panel{
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    margin: 5px;
}

.notification-panel .n-header{
    font-weight: 700;
}

.success{
    background-color: #fff9d7;
    border: 1px solid #e2c822;
}

.error{
    background: #ffdc87;
    color: #b3791c;
}

.pos-header{
    height: 42px;
    overflow: hidden;
    line-height: 42px;
    text-align: right;
    background-color: #3b5998;
    border-bottom: 1px solid #29487d;
    color: #fff;
}

.pos-header p{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    padding-right: 20px;
}

.item-input-wrapper{
    background: #fff;
    position: relative;
}

.product-search .item-input-wrapper i.fa-search{
    position: absolute;
    top: 0;
    left: 0;
}

.product-search{
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #d0d1d5;
    height: 23px;
    line-height: 23px;
}

.product-search input{
    border: none;
    padding-left: 20px;
    width: 180px;
}

.search-result{
    background: #fff;
    padding: 10px;
}

.search-result li{
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}



/* AUTOCOMPLETE */

.autocomplete
{
    width: 92%;
    position: relative;
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 3px;
}

    .autocomplete input
    {
        /*font-size: 1.2em;
        width: 100%;
        padding: 0.4em;*/
        width: 100%;
        padding: 0.4em;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
    }

    .autocomplete ul
    {
        position: absolute;
        top: 28px;
        left: 0;
        width: 105%;
/*        border-left: 1px solid #888;
        border-right: 1px solid #888;
        border-bottom: 1px solid #888;*/
        border: 1px solid #ccc;
        z-index: 1000;
        max-height: 400px;
        margin: 0px !important;
        margin-top: -5px;
        display:block;
        height: auto !important;
        box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
    }

    .autocomplete li
    {
        text-align: left;
        list-style: none;
        width: 100%;
        padding:5px 5px 5px 5px;
        background-color: #fff;
    }

        .autocomplete li p
        {
            height: 18px;
            line-height: 18px;
        }

        .autocomplete li.active
        {
            width: 100%;
            /*background-color: #4bf;*/
            background-color: #ECF0F7;
        }

        .autocomplete ul#no-result{
            width: 101%; 
            border: 1px solid #ccc;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, .10);
        }

        .autocomplte ul#no-result li{
            border: 1px solid #ccc;
        }

    .autocomplete .highlight
    {
        /*background-color: #E2E2E2;*/
        background-color: #f9f9f9;
    }

    .autocomplete li.active .highlight
    {
        /*background: #666;*/
        background-color: #f9f9f9;
        color: #fff;
    }

    .autocomplete #txtSuggestProduct{
        border-radius: 3px;
        border: 1px solid white;
        height: 12.5px;
        border: 1px solid #e2e2e2;
    }


/*ITEMS IN ORDER LIST*/

#pos-orders{
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
}

#pos-orders ul{
    height: auto !important;
    max-height: 500px;
}

#pos-orders .items-in-orderList{
    padding: 10px;
    padding-right: 5px;
    border-top: 1px solid #e8e8e8;
    position: relative;
}

#pos-orders .items-in-orderList:hover{
    background-color: #ECF0F7;
}

#pos-orders .items-in-orderList div.item-name{
    color: #365899;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 12px;
}

.item-quantity{
    width: 50px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    text-align: center;
}

#pos-orders .items-in-orderList .remove-button{
    position: absolute;
    background-image: none; 
    top: 10px;
    right: 10px;
    width: 11px;
    height: 11px;
}

#pos-orders .items-in-orderList .remove-button:hover{
    background-image: url('https://www.facebook.com/rsrc.php/v3/yx/r/ogYrclupeJV.png');
    background-position: 0px 12px;
}

.color-1{
    color: #2b2b2b;
}

.sum{
    color: #2b2b2b;
}

.img-gift{
    position: absolute;
    top: 28px;
    cursor: pointer;
}


/*CSS POPOVER*/

.discount-popover{
    width: 0px;
    height: 0px;
    position: relative;
    top: 0px;
    left: -9999px;
    z-index: 2501;
}

.discount-popover .triangle{
    position: absolute;
    top: 0px;
    left: 93px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/y6/r/1UKIfoIqCEo.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -134px -196px;
    height: 8px;
    width: 16px;
    z-index: 1003;
}

.discount-popover .popover-content{
    position: absolute;
    top: 7px;
    width: 200px;
    height: 133px;
    z-index: 1002;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.discount-popover .popover-content .popover-title{
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 9px;
    font-weight: bold;
}

.discount-popover .popover-content .popover-body{
    width: 93%;
    height: 85px;
    margin-left: 3.5%;
    margin-top: 8px;
}

.discount-popover .popover-content .popover-body .input{
    width: 75px;
    text-align: center;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
}

.discount-popover .popover-content .popover-body .button{
    background-color: #4267b2;
    border: 1px solid #4267b2;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    padding: 3px 16px;
    cursor: pointer;
    margin-top: 8px;
}

.discount-popover .popover-content .popover-body .label{
    font-weight: bold;
}

.discount-popover .popover-content .popover-body .td3{
    position: relative;
}

.discount-popover .popover-content .popover-body .percent-sign{
    position: absolute;
    top: 27px;
    left: 8px;
    font-size: 9px;
    font-weight: bold;
    z-index: 1005;
    color: white;
}

.discount-popover .popover-content .popover-body .currency-sign{
    position: absolute;
    top: 28px;
    left: 17px;
    font-size: 8px;
    font-weight: bold;
    z-index: 1005;
    color: white;
}

.discount-popover .popover-content .popover-body .group-control{
    
}

.separator {
    width: 92%;
    height: 1px;
    border-top: 1px solid #e2e2e2;
    margin-left: 4%;
}

.separator2 {
    width: 226px;
    height: 1px;
    border-top: 1px solid #e2e2e2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
}

#backdrop{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1001;
}

#backdrop-doc{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2000;
    opacity: .6;
    transition: opacity .3s;
}



/*RECTANGLE CHECKBOX*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a0a7b2;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 3px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4267b2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4267b2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}


/*PAY CSS*/
#pay{
    height: 204px;
    width: 240px;
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    margin-bottom: 19px;
    margin: 0;
    padding: 0;
}

#pay table{
    margin: 7px;
    color: #333;
}

#pay table #img-gift-relative{
    position: relative;
}

#pay table #img-gift{
}

#pay table td.title{
    text-align: right;
    width: 70px;
    padding-right:0px;
    color: #666;
}

#pay table td span{
    font-weight: bold;
}

#toolbar{
    height: 29px;
    background-color: #f6f7f9;
    border-top: 1px solid #dddfe2;
    line-height: 29px;
    position: relative;
    margin-top: 0px;
}

#pay #toolbar #total{
    font-weight: bold;
    padding-left: 7px;
}

#pay #toolbar button{
    border-radius: 2px;
    background-color: #4267b2;
    color: #ffffff;
    line-height: 22px;
    padding: 0 8px;
    border: 1px solid #4267b2;
    font-weight: bold;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

/*#pay #toolbar button span{
    margin-left: 12px;
    width: 50px;
}*/

#pay .plus-icon{
    width: 8px;
    height: 9px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yZ/r/KqaLyYf3kjd.png');
    background-position: -37px -106px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10000px;
    margin-top: 7px;
}

#pay #toolbar .toolbar-icon{
    width: 14px;
    height: 14px;
}



.icon1{
    background-image: url('https://www.facebook.com/rsrc.php/v3/yK/r/H2EUMHd8NY-.png');
    background-repeat: no-repeat;
    background-position: 1px -216px;
    position: absolute;
    top: 7px;
    right: 28px;
}

.icon2{
    background-image: url('https://www.facebook.com/rsrc.php/v3/yK/r/H2EUMHd8NY-.png');
    background-repeat: no-repeat;
    background-position: 1px -216px;
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
}

/*CONFIG POPOVER*/

#config-popover {
    position: relative;
    background-color: white;
    height: 5px;
    width: 5px;
    background-color: 1px solid black;
    z-index: 3000;
}

#config-popover .triangle {
    position: absolute;
    background-image: url('https://www.facebook.com/rsrc.php/v3/y7/r/LaoInooW6Pk.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -200px -196px;
    height: 10px;
    width: 16px;
    bottom: 0px;
    right: -14.5px;
    z-index: 3002;
}

#config-popover .popover-content{
    background-color: white;
    position: absolute;
    z-index: 3001;
    top: -207px;
    left: -127px;
    height: 197px;
    width: 145px;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

#config-popover .popover-content li{
    padding-left: 22px;    
}

#config-popover .popover-content li:hover{
    background-color: #4267b2;
    color: white;
}

#config-popover .popover-content li.checked{
    background: url('https://www.facebook.com/rsrc.php/v3/yo/r/Iv23J4ZCwP5.png') left 10px no-repeat;
    font-weight: bold;
}

#config-popover .popover-content li.checked:hover{
    background-position: left -50px;
    background-color: #4267b2;
}

#config-popover .popover-content .seperator2{
    height: 1px;
    background-color: #e9ebee;
    margin: 5px;
}

#config-popover .popover-content ul{
    margin-top: 5px;
}


/*CREATE ORDER*/

#create-order {
    height: 50px;
    width: 240px;
    background-color: #fff;
    position: fixed;
    bottom: 225px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    margin-bottom: 19px;
    margin: 0;
    padding: 0;
}

#create-order #left{
    width: 119px;
    height: 100%;
    float: left;
    text-align: center;
}

#create-order #left p{
    padding: 0px;
    margin: 0px;
}

#create-order #left p#title{
    font-weight: bold;
    color: #666;
    margin-top: 7px;
}

#create-order #left p#total{
    font-size: 16px;
    color: #333;
}

#create-order #right{
    margin-top: 14px;
    width: 119px;
    height: 100%;
    float: right;
}

#create-order #right a{
    background-color: #f6f7f9;
    color: #4b4f56;
    line-height: 22px;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    border: 1px solid #ced0d4;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 8px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
}

#create-order #right a:hover{
    background-color: #e8e9ea;
}

#create-order #right #plus-icon{
    width: 8px;
    height: 9px;
    background-position: -37px -106px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yZ/r/KqaLyYf3kjd.png');
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}



